.fa,
.fas,
.icon-open,
.icon-stuck,
.icon-priority,
.icon-lowpriority,
.icon-solved,
.icon-edit,
.icon-archive,
.icon-x,
.icon-campus,
.icon-remote,
.icon-copy,
.icon-offsite,
.icon-solvers,
.icon-important,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -.0667em; }

.fa-xs {
  font-size: .75em; }

.fa-sm {
  font-size: .875em; }

.fa-1x {
  font-size: 1em; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-6x {
  font-size: 6em; }

.fa-7x {
  font-size: 7em; }

.fa-8x {
  font-size: 8em; }

.fa-9x {
  font-size: 9em; }

.fa-10x {
  font-size: 10em; }

.fa-fw, .icon-open, .icon-stuck, .icon-priority, .icon-lowpriority, .icon-solved, .icon-edit, .icon-archive, .icon-x, .icon-campus, .icon-remote, .icon-copy, .icon-offsite, .icon-solvers, .icon-important {
  text-align: center;
  width: 1.25em; }

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit; }

.fa-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left,
.fas.fa-pull-left,
.fa-pull-left.icon-open,
.fa-pull-left.icon-stuck,
.fa-pull-left.icon-priority,
.fa-pull-left.icon-lowpriority,
.fa-pull-left.icon-solved,
.fa-pull-left.icon-edit,
.fa-pull-left.icon-archive,
.fa-pull-left.icon-x,
.fa-pull-left.icon-campus,
.fa-pull-left.icon-remote,
.fa-pull-left.icon-copy,
.fa-pull-left.icon-offsite,
.fa-pull-left.icon-solvers,
.fa-pull-left.icon-important,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right,
.fas.fa-pull-right,
.fa-pull-right.icon-open,
.fa-pull-right.icon-stuck,
.fa-pull-right.icon-priority,
.fa-pull-right.icon-lowpriority,
.fa-pull-right.icon-solved,
.fa-pull-right.icon-edit,
.fa-pull-right.icon-archive,
.fa-pull-right.icon-x,
.fa-pull-right.icon-campus,
.fa-pull-right.icon-remote,
.fa-pull-right.icon-copy,
.fa-pull-right.icon-offsite,
.fa-pull-right.icon-solvers,
.fa-pull-right.icon-important,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: .3em; }

.fa-spin {
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  animation: fa-spin 1s infinite steps(8); }

@keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  transform: scale(1, -1); }

.fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  transform: scale(-1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em; }

.fa-stack-1x,
.fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */
.icon-archive:before {
  content: "\f187"; }

.icon-important:before {
  content: "\f0a1"; }

.icon-open:before {
  content: "\f1ce"; }

.icon-copy:before {
  content: "\f328"; }

.icon-priority:before {
  content: "\f12a"; }

.icon-lowpriority:before {
  content: "\f11a"; }

.icon-offsite:before {
  content: "\f35d"; }

.icon-solved:before {
  content: "\f11e"; }

.icon-remote:before {
  content: "\f015"; }

.icon-edit:before {
  content: "\f303"; }

.icon-stuck:before {
  content: "\f128"; }

.icon-campus:before {
  content: "\f19c"; }

.icon-solvers:before {
  content: "\f0c0"; }

.icon-x:before {
  content: "\f410"; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.icon-open {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #FF6600; }

.icon-stuck {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #FF6600; }

.icon-priority {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #FF6600; }

.icon-lowpriority {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #FF6600; }

.icon-solved {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #FF6600;
  color: #444; }

.icon-edit {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #FF6600;
  color: #111111; }

.icon-archive {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #FF6600;
  color: #DC3545; }

.icon-x {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #FF6600;
  color: #444; }

.icon-campus {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #FF6600;
  color: #993333; }

.icon-remote {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #FF6600;
  color: #666; }

.icon-copy {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #FF6600;
  color: #666; }

.icon-offsite {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #FF6600;
  color: #999; }

.icon-solvers {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #FF6600;
  color: #666; }

.icon-important {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #FF6600;
  color: #333; }

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  font-size: 1rem;
  font-family: Roboto, sans-serif; }

h1 {
  font-size: 2rem;
  margin-bottom: 1rem; }

h2 {
  font-size: 1.5rem;
  font-weight: bold; }

a {
  color: #004a99; }

.avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: inline-block;
  border: 1px solid #444;
  background-size: 100%;
  vertical-align: middle;
  margin: 3px 3px 3px 0; }

.icon-link {
  width: 36px; }

.navbar-dark .navbar-nav .add-link {
  color: #ccc; }

.navbar-dark .navbar-nav .active {
  background: #555;
  border-radius: 3px; }

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee; }
  .sidebar h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem; }
  .sidebar h4 {
    font-size: .75em;
    text-transform: uppercase;
    color: #666;
    font-weight: bold;
    margin: 0 0 1em 0; }
  .sidebar .nav {
    margin-bottom: 20px; }
  .sidebar .nav-item {
    width: 100%; }
  .sidebar .nav-item + .nav-item {
    margin-left: 0; }
  .sidebar .nav-link {
    border-radius: 0; }
  .sidebar .nav-header {
    padding: .5rem 1rem;
    margin-bottom: 0; }
  .sidebar .nav-section {
    padding: 0 1rem .5rem;
    margin-bottom: .5rem; }

.solver {
  display: block;
  background: #fff;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: .9em;
  position: relative;
  background-size: 30px 30px;
  background-position: center left;
  background-repeat: no-repeat;
  font-size: .8em;
  padding: .5em;
  padding-left: 40px;
  line-height: 1.3;
  border-right: 5px solid #993333; }
  .solver.remote {
    border-right-color: #666; }
  .solver:hover {
    background-color: #f7f7f7; }
  .solver img {
    border-radius: 4px 4px 0 0;
    width: 100%; }

@media (min-width: 860px) {
  .solver {
    background-size: 40px 40px;
    padding-left: 50px;
    font-size: .9em; } }

@media (min-width: 1000px) {
  .solver {
    background-size: auto 100%;
    padding-left: 60px;
    height: 50px; } }

@media (min-width: 1140px) {
  .solver {
    font-size: 1em;
    height: 70px;
    padding-left: 80px; } }

.solver-name {
  font-size: 1em; }

.profile-photo {
  width: 100%; }

.progress {
  height: 1.2rem;
  background: #f7f7f7;
  border: 1px solid #ddd; }

.progress-open {
  background-color: white; }

.progress-solved {
  background-color: #f7f7f7; }

.progress-stuck {
  background-color: #FFEFE5; }

.progress-priority {
  background-color: #FFD1B2; }

.progress-lowpriority {
  background-color: #ADD8E6; }

aside small {
  display: block; }

aside .important-info {
  font-family: Inconsolata, monospace;
  font-size: .8em; }

aside .now {
  color: #888;
  font-size: 10px; }

.puzzle-section h2 {
  margin-bottom: 5px;
  font-weight: bold; }

.puzzle-metadata {
  color: #444;
  margin-bottom: 8px;
  font-size: .8rem; }
  .puzzle-metadata .wrangler a {
    font-weight: bold; }
  .puzzle-metadata .add-puzzles-to-meta {
    text-align: right; }

td.solution-cell {
  font-family: Inconsolata, monospace; }

.puzzle-list {
  margin-bottom: 2em; }
  .puzzle-list th {
    font-size: .8em; }
  .puzzle-list td, .puzzle-list th {
    padding: .5rem;
    line-height: 1.2; }
  .puzzle-list thead tr {
    background: #eee; }
    .puzzle-list thead tr th {
      border-bottom: 1px solid #aaa; }
  .puzzle-list tr:last-child td {
    border-bottom: 1px solid #e9ecef; }
  .puzzle-list tr.hover td {
    border-top: 1px solid #888 !important;
    border-bottom: 1px solid #888 !important; }
  .puzzle-list tr.meta {
    background: #f8f8f8; }
    .puzzle-list tr.meta td:first-child {
      border-left: 3px solid #444; }
    .puzzle-list tr.meta .title {
      font-weight: bold; }
  .puzzle-list label {
    margin: 0; }
  .puzzle-list .icon-th {
    text-align: center; }
  .puzzle-list tbody a {
    display: block; }
    .puzzle-list tbody a:hover {
      text-decoration: none; }
  .puzzle-list .status {
    width: 22px; }
  .puzzle-list .solvers {
    width: 22px; }
  .puzzle-list .last-modified {
    width: 22px; }
  .puzzle-list .member-count {
    font-weight: bold;
    font-size: .75rem;
    text-align: center;
    line-height: 1.7; }
  .puzzle-list tr[data-filter=solved] {
    background: #f7f7f7;
    opacity: .65; }
  .puzzle-list tr[data-filter=stuck] {
    background: #FFEFE5; }
  .puzzle-list tr[data-filter=priority] {
    background: #FFD1B2; }

[data-filter=lowpriority] {
  background: #ADD8E6; }

body.tags .solution-cell {
  display: none; }

.anchor-target {
  display: block;
  content: " ";
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
  pointer-events: none; }

.puzzle-metas {
  background: #eee;
  margin-bottom: .5rem;
  padding: .3em .5em;
  color: #444; }
  .puzzle-metas a {
    color: #444;
    border-bottom: 1px dashed;
    font-weight: bold; }
    .puzzle-metas a:hover {
      color: black;
      text-decoration: none;
      border-bottom-style: solid; }
  .puzzle-metas .meta-wrapper:after {
    content: " / "; }
  .puzzle-metas .meta-wrapper:last-child:after {
    content: ""; }

.solution-field {
  font-family: Inconsolata, monospace; }

.puzzle-header {
  margin-bottom: 1em; }
  .puzzle-header h1 {
    margin-bottom: .5rem; }
  .puzzle-header .last-update {
    font-size: .75em;
    color: #666;
    margin-bottom: 6px; }

.puzzleEdit .input-group-addon {
  width: 80px; }

.puzzle-links {
  border-radius: 4px; }
  .puzzle-links li {
    padding-right: 6px; }
    .puzzle-links li:last-child {
      padding-right: 0; }
  .puzzle-links a {
    background-position: right 12px center;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3C%3Fxml version=%221.0%22 encoding=%22UTF-8%22%3F%3E%0A%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E%0A%09%3Cpath fill=%22%23fff%22 stroke=%22%2336c%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E%0A%09%3Cpath fill=%22%2336c%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E%0A%09%3Cpath fill=%22%23fff%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E%0A%3C/svg%3E%0A");
    padding: 5px 0 5px 30px;
    text-align: left;
    font-size: .8rem;
    text-transform: uppercase;
    position: relative;
    background-color: #f8f8f8;
    color: #666; }
    .puzzle-links a:hover {
      background-color: #f1f1f1; }
    .puzzle-links a::before {
      content: "";
      width: 15px;
      height: 15px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 7px;
      left: 9px; }
  .puzzle-links .link-puzzle::before {
    background-image: url("/img/mit.png"); }
  .puzzle-links .link-drive::before {
    background-image: url("/img/drive.png"); }
  .puzzle-links .link-slack::before {
    background-image: url("/img/slack.png"); }


aside .buttons .btn, aside .buttons button {
  display: block;
  margin-bottom: 1em;
  text-align: left;
  width: 100%; }

.scope-header {
  font-size: 1rem;
  margin-bottom: .5em;
  padding: .3em 0;
  border-bottom: 1px dashed #ccc; }
  .scope-header:first-child {
    margin-top: 0; }

.puzzles .level2 {
  margin-left: 1.2em; }

.puzzles .level3 {
  margin-left: 2.4em; }

.puzzles .level4 {
  margin-left: 3.6em; }

.puzzleInputGroup {
  margin-bottom: 2.5em; }
  .puzzleInputGroup .input-group-addon {
    width: 5em; }
  .puzzleInputGroup h4 {
    font-weight: bold; }
  .puzzleInputGroup .removePuzzle {
    text-transform: uppercase;
    font-size: .75rem;
    padding: .3em .5em;
    font-weight: normal; }

body.add .working {
  display: none; }

body.add .addFormError {
  display: none; }

body.add[data-step='scraping'] .working {
  display: block; }

body.add.trippy {
  background: transparent url("https://media.giphy.com/media/l378z9JqBTfYDrXUI/source.gif") no-repeat;
  background-size: cover; }

.created {
  font-size: .8rem;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .5em;
  display: block; }

.puzzleLink {
  display: block;
  padding: .6em 1em;
  border: 1px solid #aaa;
  border-bottom-width: 4px;
  border-radius: 4px;
  font-size: 1.2em;
  font-weight: bold; }
  .puzzleLink:hover {
    background: #f7f7f7; }

.member-table td {
  padding: .5rem; }

.member-table .avatar-cell {
  width: 24px; }

.member-table .location-cell {
  width: 36px; }

.member-table .avatar {
  width: 24px;
  height: 24px;
  margin: 0;
  border: none; }

.by-puzzle .strengths, .by-puzzle .working-on {
  display: none; }

body.member .puzzle-list {
  margin-bottom: 1em; }

.about h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid #ddd;
  margin-bottom: .5em; }
