/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  font-size: 1rem;
  font-family: Roboto, sans-serif; }

h1 {
  font-size: 2rem;
  /*margin-bottom: 0;*/ }

h2 {
  font-size: 1.5rem; }

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee; }
  .sidebar .nav {
    margin-bottom: 20px; }
  .sidebar .nav-item {
    width: 100%; }
  .sidebar .nav-item + .nav-item {
    margin-left: 0; }
  .sidebar .nav-link {
    border-radius: 0; }

aside {
  /*border-left: 1px solid #eee;*/ }
  aside small {
    display: block; }

.latest-news, .solvers {
  font-weight: bold;
  text-transform: uppercase;
  color: #777; }

.add-puzzles-to-meta {
  font-size: 1rem; }

.puzzle-list {
  margin-bottom: 2em; }
  .puzzle-list td, .puzzle-list th {
    padding: .5rem;
    font-family: Inconsolata, monospace;
    /*font-size: .9rem;*/ }
  .puzzle-list thead tr {
    background: #e7e7e7; }
    .puzzle-list thead tr th {
      border-bottom: 1px solid #aaa; }
  .puzzle-list label {
    margin: 0; }
  .puzzle-list .solved {
    background: #f7f7f7;
    opacity: .65; }
  .puzzle-list .stuck {
    background: #FFEFE5; }
  .puzzle-list .priority {
    background: #FFD1B2; }
  .puzzle-list .urgent {
    background: #FF6600; }
    .puzzle-list .urgent a {
      color: white; }
  .puzzle-list a {
    display: block; }

.solution-field {
  font-family: Inconsolata, monospace; }

.puzzle-header {
  margin-bottom: 1em; }

.puzzleEdit .input-group-addon {
  width: 15%; }

.puzzle-links a {
  background-position: right 12px center;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3C%3Fxml version=%221.0%22 encoding=%22UTF-8%22%3F%3E%0A%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E%0A%09%3Cpath fill=%22%23fff%22 stroke=%22%2336c%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E%0A%09%3Cpath fill=%22%2336c%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E%0A%09%3Cpath fill=%22%23fff%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E%0A%3C/svg%3E%0A");
  padding-right: 28px; }

.join-this-puzzle {
  padding: 0;
  width: 100%;
  text-align: left; }

.puzzleInputGroup {
  margin-bottom: 2.5em; }
  .puzzleInputGroup .input-group-addon {
    width: 10%; }

.addPuzzle .templates {
  display: none; }

.addPuzzle .working {
  display: none; }

.addPuzzle .addForm {
  display: none; }

.addPuzzle .addFormError {
  display: none; }

.addPuzzle[data-step='scraping'] .working {
  display: block; }

.addPuzzle[data-step='step2'] .addForm {
  display: block; }

.addPuzzle.trippy {
  background: transparent url("https://media.giphy.com/media/l378z9JqBTfYDrXUI/source.gif") no-repeat;
  background-size: cover; }
