$monospace: Inconsolata, monospace;

$open: #006AD8;
$solved: #f7f7f7;
$stuck: #FFEFE5;
$priority: #FFD1B2;
$urgent: #FF6600;

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
}

// TYPOGRAPHY

h1 {
    font-size: 2rem;
    /*margin-bottom: 0;*/
}

h2 {
    font-size: 1.5rem;
}

// TOPNAV

.navbar-dark .navbar-nav {
    .add-link {
        color: #eee;
    }
}

// SIDEBAR

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;

    .nav {
        margin-bottom: 20px;
    }

    .nav-item {
        width: 100%;
    }

    .nav-item + .nav-item {
        margin-left: 0;
    }

    .nav-link {
        border-radius: 0;
    }
}

// PROGRESS

.progress-open {
    background-color: $open;
}

.progress-solved {
    background-color: $solved;
}

.progress-stuck {
    background-color: $stuck;
}

.progress-priority {
    background-color: $priority;
}

.progress-urgent {
    background-color: $urgent;
}


// BANNER

.banner {
}

// ASIDE

aside {
    /*border-left: 1px solid #eee;*/

    small {
        display: block;
    }
}

%card-subhead {
    font-weight: bold;
    text-transform: uppercase;
    color: #777;
}

.latest-news {
    @extend %card-subhead;
}

// PUZZLE LIST

.add-puzzles-to-meta {
    font-size: 1rem;
}

.solution {
    font-family: $monospace;
}

.puzzle-list {
    margin-bottom: 2em;

    td, th {
        padding: .5rem;
        font-family: $monospace;
        /*font-size: .9rem;*/
    }

    thead tr {
        background: #e7e7e7;

        th {
            border-bottom: 1px solid #aaa;
        }
    }

    label {
        margin: 0;
    }

    .solved {
        background:$solved;
        opacity: .65;
    }

    .stuck {
        background:$stuck;
    }

    .priority {
        background:$priority;
    }

    .urgent {
        background:$urgent;

        a {
            color: white;
        }
    }

    a {
        display: block;
    }
}

// PUZZLE PAGE

.solution-field {
    font-family: $monospace;
}

.puzzle-header {
    margin-bottom: 1em;
}

.puzzleEdit {
    .input-group-addon {
        width: 80px;
    }
}

.puzzle-links {
    a {
        background-position: right 12px center;
        background-repeat: no-repeat;
        background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3C%3Fxml version=%221.0%22 encoding=%22UTF-8%22%3F%3E%0A%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E%0A%09%3Cpath fill=%22%23fff%22 stroke=%22%2336c%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E%0A%09%3Cpath fill=%22%2336c%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E%0A%09%3Cpath fill=%22%23fff%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E%0A%3C/svg%3E%0A");
        padding-right: 28px;
    }
}

.solvers {
    @extend %card-subhead;
}

.join-this-puzzle {
    padding: 0;
    width: 100%;
    text-align: left;
}

%entry-row {
    padding: .8em 0;
    border-bottom: 1px solid #eee;

    .entry-by {
        color: #666;
        font-size: .9rem;
        display: block;
    }

    .entry-when {
        color: #888;
        font-size: .75rem;
        display: block;
    }

    .entry-body {
        position: relative;

        p {
            margin: 0;
        }

        .close {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
        }

        &:hover {
            .close {
                display: block;
            }
        }
    }
}

.note-row {
    @extend %entry-row;
}

.new-note-form {
    padding-top: 1em
}

// ADD PUZZLE

.puzzleInputGroup {
    margin-bottom: 2.5em;

    .input-group-addon {
        width: 10%;
    }
}

.addPuzzle {
    .templates {
        display: none;
    }

    .working {
        display: none;
    }

    .addForm {
        display: none;
    }

    .addFormError {
        display: none;
    }

    &[data-step='scraping'] {
        .working {
            display: block;
        }
    }

    &[data-step='step2'] {
        .addForm {
            display: block;
        }
    }

    &[data-step='checking-for-dupes'] {
        .addForm {
        }
    }

    &.trippy {
        background:transparent url('https://media.giphy.com/media/l378z9JqBTfYDrXUI/source.gif') no-repeat;
        background-size: cover;
    }
}

// NEWS

.news-row {
    @extend %entry-row;

    &[data-filter=important] {
        background:lighten(yellow, 30%);
    }
}
