/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
}

/*
 * Typography
 */

h1 {
    font-size: 2rem;
    margin-bottom: .5em;
}

h2 {
    font-size: 1.3rem;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}


/* ASIDE*/

aside {
    /*border-left: 1px solid #eee;*/
}

aside small {
    display: block;
}

.latest-news {
    font-weight: bold;
    color: #777;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/*
 * Tables
 */

.table {
    margin-bottom: 2em;
}

.table td, .table th {
    padding: .5rem;
    font-family: Inconsolata, monospace;
    /*font-size: .9rem;*/
}

thead tr {
    background: #f7f7f7;
}

table label {
    margin: 0;
}
