# copy this file to envvars.config and fill out the variable names
# to run locally: source envvars.config
# to run on Heroku, put these in config variables under settings

export TEAM_NAME='Palindrome';
export BIG_BOARD_DB_HOST='secret';
export BIG_BOARD_DB_NAME='secret';
export BIG_BOARD_DB_USERNAME='secret';
export BIG_BOARD_DB_PASSWORD='secret';
export GOOGLE_CLIENT_SECRET='secret';
export TOBYBOT_SLACK_KEY='secret';
export TOBYBOT_VERIFICATION_TOKEN='secret';
export BIGBOARDBOT_SLACK_KEY='secret';
export APP_DOMAIN='team-palindrome.herokuapp.com';
export SLACK_DOMAIN='palindrome2018';
export GOOGLE_CLIENT_ID='secret';
export GOOGLE_APPLICATION_NAME='Palindrome Big Board';
export GOOGLE_DOCS_TEMPLATE_ID='secret';
export GOOGLE_DRIVE_ID='secret';
export GOOGLE_DRIVE_PUZZLES_FOLDER_ID='secret';
export HUNT_URL='http://monsters-et-manus.com';
export SIDEBAR_TEAM_INFO='HQ: 4-159, 4-146, 4-145; Phone: secret; mail: team-palindrome@mit.edu; u: palindrome p: secret';
export SENTRY_CONFIG='https://<user>:<pass>@sentry.io/<id>'
