{% extends 'base.twig' %}

{% block header %}
    <p><a href='http://palindrome2017.slack.com/messages/general' target='_new'>Slack (general)</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href='https://plus.google.com/hangouts/_/7lw6rz5zwbkiaozrwld6q77ahaa?authuser=0&hl=en' target='_new'>Hangout 1</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href='https://plus.google.com/hangouts/_/ha2iwh7ioc4ctfnehufqfvomzya?authuser=0&hl=en' target='_new'>Hangout 2</a>
{% endblock %}

{% block teaminfo %}
    <strong>HQ</strong>:
    4-159, 4-146, 4-145
    &nbsp;&nbsp;&nbsp;
    <strong>Phone</strong>
    617 715-4577
    &nbsp;&nbsp;&nbsp;
    <strong>E-mail</strong>: team-palindrome@mit.edu<br/>
    Username: palindrome
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Password: aplanacanal

{% endblock %}
