{% extends 'two-col.twig' %}

{% block title %}Big Board Documentation{% endblock %}

{% block filters %}
<h4 class="nav-header">Jump to</h4>
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" href="#overview">Overview</a></li>
    <li class="nav-item"><a class="nav-link" href="#organization">Organization</a></li>
    <li class="nav-item"><a class="nav-link" href="#puzzles">Puzzles</a></li>
    <li class="nav-item"><a class="nav-link" href="#slack">Slack</a></li>
    <li class="nav-item"><a class="nav-link" href="#spreadsheets">Spreadsheets</a></li>
    <li class="nav-item"><a class="nav-link" href="#feedback">Feedback</a></li>
</ul>
{% endblock %}

{% block content %}
<h1> Big Board documentation</h1>


<section class="mb-5">
    <span id="overview" class="anchor-target"></span>
    <h2>High-level overview</h2>

    <p>The Big Board is a web app (you're on it) + a series of Slack commands that allows us to easily…</p>

    <ul>
        <li>Organize the puzzles</li>
    </ul>

</section>
<section class="mb-5">
    <span id="organization" class="anchor-target"></span>

    <h2>Basic organization</h2>

    <p>
        The <a href="/">homepage</a> lists all puzzles and gives you the ability to filter them by status (open, stuck, priority) and/or sort them in the following ways:
    </p>

    <ul>
        <li>Stalest (longest time since changed)</li>
        <li>Freshest (opposite)</li>
        <li>Oldest (longest time since creation)</li>
        <li>Newest (opposite)</li>
    </ul>

    <p>
        The top navbar also includes links to:
    </p>

    <ul>
        <li>List the <a href="/bymeta">puzzles by meta</a></li>
        <li>See the <a href="/roster">roster of our team</a></li>
        <li><a href="/add">Add puzzles</a></li>
    </ul>
</section>
<section class="mb-5">
    <span id="puzzles" class="anchor-target"></span>

    <h2>Puzzle pages</h2>

    <p>
        Clicking the name of any puzzle will take you to a detail page for that puzzle, where you can:
    </p>

    <ul>
        <li>Change status</li>
        <li>Add a solution</li>
        <li>Tag it</li>
        <li>Edit any of the puzzle's metadata</li>
        <li>Join the puzzle's roster</li>
        <li>(If it's a meta) See list of associated puzzles</li>
    </ul>

    <p>
        Undeneath the puzzle title, you'll find the 3 external links that come with each puzzle:
    </p>

    <ul>
        <li>The puzzle's page on the Mystery Hunt puzzle site</li>
        <li>The puzzle's spreadsheet in our Google Drive</li>
        <li>The puzzle's Slack channel.</li>
    </ul>

</section>

<section class="mb-5">
    <span id="slack" class="anchor-target"></span>

    <h2>Slack features</h2>

    <p>The app integrates nicely with Slack. Here are the interactions that trigger an event in Slack:</p>
    <ul>
        <li>When a puzzle is created, a new Slack channel is created, all the meta-links are sent to that new channel, a message is sent to <code>#general</code></li>
        <li>When a puzzle is solved, a messge is posted in <code>#general</code></li>
        <li>When a puzzle is set to 'priority' status, a message is posted in <code>#big-board</code></li>
    </ul>
    <p><b>In any channel, you can:</b></p>
    <ul>
        <li>Type <code>/board</code> to see a list of unsolved puzzles.</li>
        <li>Type <code>/board [open | stuck | priority | lowpriority]</code> to see a list of puzzles with that status.</li>
        <li>Type <code>/board [text]</code> to search for puzzle titles with that text.</li>
    </ul>
    <p><b>In any <i>puzzle</i> channel, you can:</b></p>
    <ul>
        <li>Type <code>/info</code> to get all the meta-links for a puzzle.</li>
        <li>Type <code>/solve [solution]</code> to enter a puzzle's solution.</li>
        <li>Type <code>/tobybot</code> to get this list of commands.</li>
    </ul>
</section>

<section class="mb-5">
    <span id="spreadsheets" class="anchor-target"></span>

    <h2>Spreadsheets</h2>

    <p>New spreadsheets are made by duplicating a "Template" file that lives in our Drive. The template has some simple formatting applied to it, and it has a bunch of custom formula attached to it that will be helpful for puzzle solving. All the available formulas are listed in the Examples tab. </p>
</section>

Credits for most original big board development go to Sandor Weisz and Foggy Brume.  Ange Management maintenance mostly by Dima.

{% endblock %}
