{% extends 'one-col.twig' %}

{% block title %}By Meta{% endblock %}

{% block filters %}
<h4 class="nav-header">Unsolved</h4>
<ul class="nav nav-pills flex-column">
    {% for meta in metas if meta.Status != "solved" %}
    <li class="nav-item">
        <a class="nav-link" href="#meta-{{ meta.Id }}">{{ meta.Title }}</a>
    </li>
    {% endfor %}
</ul>

<h4 class="nav-header">Solved</h4>
<ul class="nav nav-pills flex-column">
    {% for meta in metas if meta.Status == "solved" %}
    <li class="nav-item">
        <a class="nav-link" href="#meta-{{ meta.Id }}">{{ meta.Title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
<h1>Unsolved metas</h1>
{% for meta in metas if meta.Status != "solved" %}
    {% include 'meta_section.twig' %}
{% endfor %}

<h1>Solved metas</h1>
{% for meta in metas if meta.Status == "solved" %}
    {% include 'meta_section.twig' %}
{% endfor %}
{% endblock %}

{% block scripts %}
<script>
$(function() {
    loadPuzzleData('/puzzles/bymeta');
});
</script>
{% endblock %}
