{% extends 'base.twig' %}

{% block body %}
<nav class="col-12">
    <h1><a class='login' href='{{ auth_url }}'>Click this sentence to log in!</a></h1>
    Only {{ teamName }}  members may access this big board.
</nav>

<a href="/privacy">Privacy Policy</a>

{% endblock %}
