{% extends 'loggedin.twig' %}

{% block content %}

<h1>Loose puzzles</h1>

{% from 'macros.twig' import puzzle_table %}
{{ puzzle_table(puzzles) }}

{% endblock %}

{% block aside %}
    <h4>About this page</h4>
    <p>Puzzles not attached to a meta.</p>
{% endblock %}
