{% extends 'two-col.twig' %}

{% block content %}

<h1>Loose puzzles</h1>
<p>Puzzles not attached to a meta.</p>

{% from 'macros.twig' import puzzle_table %}
{{ puzzle_table(puzzles) }}
{% endblock %}
