{% macro puzzle_table(id = 0) %}
<table id="table-{{ id }}" class="table puzzle-list">
    <thead>
        <tr>
            <th></th>
            <th class="icon-th"><i class="icon-solvers"></i></th>
            <th>Puzzle</th>
            <th>Solution</th>
            <th>Hunt Link</th>
            <th>Sheets</th>
            <th>Slack</th>
            <th>Video</th>
            <th>Last Modified Age</th>
            <th>Created Age</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endmacro puzzle_table %}
