{% extends 'loggedin.twig' %}

{% block content %}
<h1>Add a puzzle</h1>
<form action="#" method="post">
<input class="form-control" id='new_puzzle_title' name='new_puzzle_title' value='Name'><br/>
<input class="form-control" id='new_puzzle_url' name='new_puzzle_url' value='URL'><br/>
<button type="submit" class='fake_button' onclick='save_new_puzzle();'>Save</button>
<button class='fake_button' onclick='abort_addition();'>Cancel</button>
<input id='new_puzzle_hidden_type' name='new_puzzle_hidden_type'type='hidden' value=''>
<input id='new_puzzle_hidden_uid' name='new_puzzle_hidden_uid'type='hidden' value=''>
<input id='new_puzzle_hidden_parent' id='new_puzzle_hidden_parent' type='hidden' value=''>
</form>
{% endblock %}
