{% extends 'two-col.twig' %}

{% block title %}News{% endblock %}

{% block filters %}
<h4 class="nav-header">Jump to</h4>
<ul class="nav nav-pills flex-column" data-filter-list>
    <li class="nav-item">
        <a data-toggle="tab" class="nav-link" href="#news">News</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" class="nav-link" href="#status-updates">Puzzles</a>
    </li>
</ul>
{% endblock %}

{% block content %}
{% from 'macros.twig' import news_entry %}

<section class="news mb-5">
<h2>News</h2>
    <span class="anchor-target" id="news"></span>
    {% for news in important %}
    {{ news_entry(news) }}
    {% endfor %}
</section>

<section class="news mb-3">
    <h2>Status updates</h2>
    <span class="anchor-target" id="status-updates"></span>
    {% for update in updates %}
    {{ news_entry(update) }}
    {% endfor %}
</section>
{% endblock %}

{% block aside %}
<h4>Post news</h4>
<form class="new-update-form mb-4" action="/news/add" method="post">
    <textarea type="text" class="form-control mb-2" name="body" rows="4"></textarea>
    <button class="btn btn-dark" type="submit">Submit this news</button>
</form>
{% endblock %}

{% block latest_news %}{% endblock %}

{% block scripts %}
<script>
$(function() {
    $('.nav a').first().click();
});
</script>
{% endblock %}
