{% extends 'loggedin.twig' %}

{% block content %}
<h1>Latest news</h1>

<table class="table">
    {% for update in updates if filter != "Y" or update.TYP != "PUZ" %}
    <tr>
        <td>{{ update.WHN }}</td>
        <td>{{ update.NEWS }}</td>
        <td>{{ update.WHO }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block aside %}
<h4>Show</h4>
<p>
    {% if filter == "Y" %}
        <a href='/?news'>all updates</a>
    {% else %}
        <a href='/?news&filter=Y'>just important updates</a>
    {% endif %}
</p>
{% endblock %}
