{% extends 'base.twig' %}

{% block body %}

<nav class="col-12">
<h1>Privacy Policy</h1>

<p>The Big Board uses your google drive credentials to </p>
<ul>
  <li> Access your google account to check whether it is authorized to view content for team {{ teamName }}.  We do this by seeing if your google drive account has access to the team's shared folder.</li>
  <li> Use your google account to create new google sheets for puzzles that you add.</li>
  <li> The Big Board stores the name on your Google account for your profile page. </li>
  <li> The Big Board does not share your Google user data with third parties. </li>
</ul>
</nav>

{% endblock %}
