{% extends 'base.twig' %}

{% block body %}

<nav class="col-12">
<h1>Privacy Policy</h1>

<p>The Big Board uses your google drive credentials to </p>
<ul>
  <li> Check whether you are authorized to view content for team {{ teamName }}.  We do this by seeing if your google drive account has access to the team's shared folder.</li>
  <li> Create new google sheets for puzzles that you add.</li>
</ul>
</nav>

{% endblock %}
