{% extends 'one-col.twig' %}

{% block title %}Roster{% endblock %}

{% block filters %}
<h4 class="nav-header">Order by</h4>
<ul class="nav nav-pills flex-column" data-filter-list>
    <li class="nav-item">
        <a data-toggle="tab" class="nav-link" id="by-alpha-tab" href="#by-alpha">Alpha</a>
    </li>
</ul>

{% endblock %}

{% block content %}

<div class="tab-content">
    <div class="tab-pane by-alpha" id="by-alpha">

        <h1 class="mb-3">Team Ange Management</h1>

        <table id="table-alpha" class="table">
            <tbody>
            </tbody>
        </table>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
    $('.nav a').first().click();

    $('#by-alpha-tab').on('show.bs.tab', function(e) {
        $('.jump-to-tabs').show();
    });

    $('#by-alpha-tab').on('hide.bs.tab', function(e) {
        $('.jump-to-tabs').hide();
    });

    loadMemberData('/members');
});
</script>
{% endblock %}
