{% extends 'one-col.twig' %}

{% block main_classes %} col-12 <!--col-sm-9 col-md-7 col-lg-7-->{% endblock %}

{% block column_two %}
<aside class="col-12 col-md-3 col-sm-3 mt-3">
    {% block aside %}{% endblock %}

    {% block aside_bottom %}{% endblock %}

    <div class="important-info">
    {% for line in sidebarInfo %}
        {{ line }}<br>
    {% endfor %}
    <span class="now">{{ now }}</span>
    </div>

    {% block aside_footer %}{% endblock %}
</aside>
{% endblock %}
