{% extends 'loggedin.twig' %}

{% block content %}

<h1>Unsolved puzzles</h1>

<p>In order of how long ago their spreadsheet was opened (which may or may not reflect when someone last worked on the puzzle).</p>

{% from 'macros.twig' import puzzle_table %}
{{ puzzle_table(puzzles, false, true) }}

{% endblock %}
