{% extends 'two-col.twig' %}

{% block content %}

<h1>Unsolved puzzles {{ 'open' | emojify }}</h1>

{% from 'macros.twig' import puzzle_table %}
{{ puzzle_table(puzzles, false, true) }}

{% endblock %}

{% block aside %}
{% endblock %}
